#contenedor-general{
    background-color: #B9D9EB;
}

#contenedor-general{
    width: 60vw;
    height: 100vh;
}

#contenedor-nav{
    background-color: #72A0C1;
}

#text-cantidad{
    background-color: #E5E4E2;
}

/*#texto-enunciado{
    font-size: 1.1rem;
}/*

#resultado{
    color: #f21b3f;
}

/*@media (max-width: 600px) {
    #contenedor-general {
        width: 100vw;
        margin: 0%;
        padding: 0%;
    }

    #texto-enunciado{
        padding: 10px;
        padding-top: 25px;
    }
}

@media (min-width: 601px) {
    #contenedor-general {
        width: 65%;
        margin: auto;
        justify-content: center;
    }
}